# Deployment Environment
# DEPLOY_ENV=
# DEPLOY_ENV=
# DEPLOY_ENV=
DEPLOY_ENV=

# General
APP_NAME=
APP_VERSION=
APP_MAX_RETRIES=
APP_ROOT=

# API
API_VERSION=

# Http server
HTTP_SERVER_NAME=
HTTP_SERVER_HOST=
HTTP_SERVER_PORT=

# Delve
DEBUGGER_PORT=

# Gorm
DB_TYPE=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=
DB_SSL_MODE=disable
DB_PORT=

# PgAdmin Configuration
PGADMIN_PORT=
PGADMIN_TARGET_PORT=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# Word TreSuggester
WORDS_SUGGESTER_LIMIT=
WORDS_SUGGESTER_LIMIT=
