# Deployment Environment
DEPLOY_ENV=

# Heather
X_API_KEY=

# General
APP_NAME=
APP_VERSION=
APP_MAX_RETRIES=
APP_ROOT=

# API
API_VERSION=

# HTTP Server
HTTP_SERVER_NAME=
HTTP_SERVER_HOST=
HTTP_SERVER_PORT=

# Debugger (Delve)
DEBUGGER_PORT=

# Postgres Database
DB_TYPE=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=
DB_SSL_MODE=
DB_PORT=

# Migrations
MIGRATIONS_DIR=

# PgAdmin
PGADMIN_PORT=
PGADMIN_TARGET_PORT=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# Words Suggester
WORDS_SUGGESTER_LIMIT=
WORDS_SUGGESTER_THRESHOLD=
